{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="margin-bottom: 30px;">Active Listings</h2>

    {% for listing in listings %}
        <div style="margin-bottom: 30px;">
            <h3><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h3>
            {% if listing.image_url %}
                <img src="{{ listing.image_url }}" height="300px" alt="{{ listing.description }}">
            {% endif %}
            <div>{{ listing.description }}</div>
            <div>Current price: ${{ listing.current_bid }}</div>
        </div>
    {% endfor %}
{% endblock %}